# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# The worksheets (for which I don't hold the copyright
res[0-9].pdf
assignment[0-9].pdf
material[0-9].zip
resReport.odt
material[0-9]
uebung[0-9][0-9].pdf

# My files
Session.vim
